html, body{
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

header {

    text-align: center;
    display: flex;
    justify-content:space-between;
    align-items: center;

}

nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#menu-contenair{
        display: none;
}

#logo{
    width: 100%;
    height: 150px;
    
}

.menu{
    width: 70%;
    font-size: x-large;
    list-style: none;
    display:flex;
    padding: 0px;
    align-items: center;
    justify-content:flex-end;
}

.option{
    text-align: center;
    position: relative;
}

.option::after{
    content: '▿';
    margin-left: 5px;
    display: inline-block;
    transition: transform 0.5s ease;
}
.option:hover::after{
    transform: rotate(180deg);
}



.sousOption{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: white;
    font-size: large;
    list-style: none;
    visibility: hidden;
    position: absolute;
    z-index: 1000;
    align-items: center;
    transform: translateY(-10px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
}

.option:hover .sousOption{
    transform: translateY(0); 
    visibility: visible;
    opacity: 1;
}

.sousOption li{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border: 0.1px solid black;
}

.sousOption li a:hover{
    color: red;
}

.menu li{
    text-align: center;
    text-decoration: none;
    margin-right: 5%;
}

header a{
    text-decoration: none;
    color: black;
}

#map{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 500px;
}

.popup-cotenair{
    text-align: center;
}

main{
    text-align: center;
}
footer{
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 2px;
    font-size: large;
    background-color: #2E8B57;
    color: white;
}

#footer-contenair{
    justify-content: center;
    display: flex;
}

.footer-section a{
    display: block;
    text-decoration: none;
    color: white;

}

.footer-section a:hover{
    text-decoration: underline;
}

#ligne-verticale{
    margin: 20px;
    width: 2px;
    height: 150px;
    background-color: gainsboro;
}

.logo-Resaux{
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

@media (max-width:1024px){

    #menu-contenair{
        display: none;
    }

    .menu{
        font-size:x-large;
    }

    #logo{
        height: 100px;
    }
}

@media (max-width: 767px){

    /*Header*/
    .menu{
        display: none;
    }

    #menu-contenair{
        position: relative;
        display: block;
        width: fit-content;
    }

    #logo-menu{
        display: block;
        padding-left: 5%;
    }

    #menu-deroulant{
        margin-left: 5%;
        padding: 0;
        font-size: large;
        position: absolute;
        visibility: hidden;
        display: flex;
        top: 20px;
        left: 0;
        z-index: 10000;
        text-align: center;
        background: white;
        flex-direction: column;
        width: 50%;
        transition: opacity 0.5s ease;
        opacity: 0;
    }

    #menu-deroulant li{
        display: block;
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
    }

    #sousOptionD{
        width: 100%;
        padding: 0;
        margin: 0;
        top:20%;
        left: 99.5%;
        width: 80%;
        background-color: white;
        text-align: center;
        list-style: none;
        position: absolute;
        visibility: hidden;
        z-index: 1000;
        align-items: center;
        transition: opacity 0.5s ease;
        opacity: 0;
    }

    #logo{
        height: 100px;
    }

    #map{
        width: 90%;
    }
}